<template name="megaMenu">
<!-- BEGIN HORIZANTAL MENU -->
<div class="hor-menu hidden-sm hidden-xs">
    <ul class="nav navbar-nav">
        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
        <li class="classic-menu-dropdown active">
            <a href="{{pathFor 'home'}}">
            Admin
            </a>
        </li>
        <li>
            <a href="{{pathFor 'clientPortalPage'}}">
            Client </a>
        </li>
    </ul>
</div>
<!-- END HORIZANTAL MENU -->
</template>