<template name="inventoryListSidebar">
<li>
					<a href="javascript:;">
					<i class="fa fa-dropbox"></i>
					<span class="title">Inventory</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						{{> inventorySideSearch}}
							{{#each posts}}
								<li>
									<a href="{{pathFor 'viewInventoryPage'}}">
									<i class="fa fa-dropbox"></i>
									{{item}}</a>
								</li>
							{{/each}}
							<a href="{{pathFor 'addInventoryItemPage'}}" class="btn btn-default blue">Add New Item</a>
							<a href="{{pathFor 'addInventoryItemPage'}}" class="btn btn-default blue">View STC Inventory</a>
							<a href="{{pathFor 'addInventoryItemPage'}}" class="btn btn-default blue">View Client Inventory</a>
							<a href="{{pathFor 'addInventoryItemPage'}}" class="btn btn-default blue">View Delivered Inventory</a>
							<a href="{{pathFor 'viewSearchInventoryPage'}}" class="btn btn-default blue">Search Via Barcode/QR</a>
							<a href="{{pathFor 'inventoryPage'}}" class="btn btn-default blue">View All Items</a>
					</ul>
				</li>
</template>


<template name="inventorySideSearch">
        	<div class="sidebar-search">
	<div class="input-group">
		{{> inputAutocomplete settings=settings id="test" class="form-control" name="item" placeholder="Search..." }}
		<span class="input-group-btn">
		<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
		</span>
	</div>
	</div>
</template>

<template name="standardInventorySideSearch">
     <a class="side_search_item" href="{{pathFor 'viewInventoryPage'}}">
	     	{{item}}
     </a>
</template>

<template name="standardInventoryNoMatch">
	
</template>