
<template name="addClient">
	{{#if currentUser}}
    {{#if isInRole 'admin'}}
    
    <form class="add_order"> <!-- Start the form for the meteor backend to collect to store in the database -->
    
    <div class="tabbable-custom nav-justified">
								<ul class="nav nav-tabs nav-justified">
									<li class="active">
										<a data-target="#tab_1_1_1" data-toggle="tab" aria-expanded="true">
										Basic Info </a>
									</li>
									<li class="">
										<a data-target="#tab_1_1_2" data-toggle="tab" aria-expanded="false">
										Emails </a>
									</li>
									<li>
										<a data-target="#tab_1_1_3" data-toggle="tab">
										Notes </a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab_1_1_1">
										        <div class="form-group form-md-line-input">
                                                	<input type="text" name="company_name" value="{{company}}" class="form-control" id="form_control_1" placeholder="Enter the company" >
                                                	<label for="form_control_1">Company</label>
                                                </div>
                                                <div class="form-group form-md-line-input">
                                                	<input type="text" name="shipping_address" value="{{shipping_address}}" class="form-control" id="form_control_1" placeholder="Enter the shipping address" >
                                                	<label for="form_control_1">Shipping Address</label>
                                                </div>
                                                <div class="form-group form-md-line-input">
                                                	<input type="text" name="shipping_city" value="{{shipping_city}}" class="form-control" id="form_control_1" placeholder="Enter the shipping city" >
                                                	<label for="form_control_1">Shipping City</label>
                                                </div>
                                                <div class="form-group form-md-line-input">
												<select class="form-control edited" id="form_control_1" name="shipping_state">
													{{#each shipping_state}}
														<option value="{{state}}" selected="{{isEqual state ../shipping_state }}">{{state}}</option>
													{{/each}}
												</select>
												<label for="form_control_1">Shipping State</label>
												</div>
                                                <div class="form-group form-md-line-input">
                                                	<input type="text" name="shipping_zip" value="{{shipping_zip}}" class="form-control" id="form_control_1" placeholder="Enter the shipping zip" >
                                                	<label for="form_control_1">Shipping Zip</label>
                                                </div>
                                                <div class="form-group form-md-line-input">
                                                	<input type="text" name="contact_name" value="{{contact_name}}" class="form-control" id="form_control_1" placeholder="Enter the contact name" >
                                                	<label for="form_control_1">Contact Name</label>
                                                </div>
                                                <div class="form-group form-md-line-input">
                                                	<input type="text" name="contact_phone" value="{{contact_phone}}" class="form-control mask_phone" id="form_control_1" placeholder="Enter the contact phone" >
                                                	<label for="form_control_1">Contact Phone</label>
                                                </div>
                                                <div class="form-group form-md-line-input">
                                                	<input type="text" name="contact_email" value="{{contact_email}}" class="form-control" id="form_control_1" placeholder="Enter the contact email" >
                                                	<label for="form_control_1">Contact Email</label>
                                                </div>
									</div>
									<div class="tab-pane" id="tab_1_1_2">
										    <div class="form-group form-md-line-input emails">
                                                <div class="input-group">
													<span class="input-group-btn btn-left">
													<a id="remove_email" class="btn btn-xs red"><i class="fa fa-minus"></i></a>
													</span>
													<div class="input-group-control">
														<input type="text" class="form-control email_accounts" name="email_account" placeholder="Enter an email">
														<div class="form-control-focus">
														</div>
													</div>
												</div>
                                            </div>
                                        <button id="add_email" class="waves-effect waves-light btn blue">Add another email</button>
									</div>
									<div class="tab-pane" id="tab_1_1_3">
										<div class="form-group form-md-line-input">
										<textarea name="notes" value="{{notes}}" class="form-control" rows="3" placeholder="Enter notes here"></textarea>
										<label for="form_control_1">Notes</label>
									</div>
									</div>
								</div>
							</div>
    
    
    
    
    
    
    
    
            <div class="bottom_wrapper">
        <button type="submit" class="btn btn-default blue">Add client</button>

        </div>

    
    
    


    </form>
    {{else}}
      {{> clientPortalPage}}
{{/if}}
{{else}}
	{{> loginPage}}
{{/if}}
</template>